<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [7]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.

## Extract

### JSON Extract Function

This function will extract JSON files.

In [2]:
file_to_process = "bank_market_cap_1.json"
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

extract_from_json(file_to_process)

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399
..                                      ...                       ...
65                             Ping An Bank                    37.993
66                       Standard Chartered                    37.319
67                     United Overseas Bank                    35.128
68                                QNB Group                    33.560
69                              Bank Rakyat                    33.081

[70 rows x 2 columns]

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [5]:
columns=['Name','Market Cap (US$ Billion)']

In [3]:

filetoread = "bank_market_cap_1.json"
def extract(filetoread):
    data = pd.read_json(filetoread)
    df = pd.DataFrame(data)
    
    return df.head(10)

extract(filetoread)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399
5                        HSBC Holdings PLC                   219.270
6               Agricultural Bank of China                   203.244
7                           Citigroup Inc.                   203.165
8                            Bank of China                   181.469
9                     China Merchants Bank                   122.616

In [4]:
newdataframe = extract(filetoread)

newdataframe

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399
5                        HSBC Holdings PLC                   219.270
6               Agricultural Bank of China                   203.244
7                           Citigroup Inc.                   203.165
8                            Bank of China                   181.469
9                     China Merchants Bank                   122.616

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [5]:
# Write your code here
csvfile = 'exchange_rates.csv'
readfile = pd.read_csv(csvfile)

exchange_rate = pd.DataFrame(readfile)

exchange_rate.head(10)

  Unnamed: 0      Rates
0        AUD   1.297088
1        BGN   1.608653
2        BRL   5.409196
3        CAD   1.271426
4        CHF   0.886083
5        CNY   6.483139
6        CZK  21.510117
7        DKK   6.119757
8        EUR   0.822504
9        GBP   0.732398

exchange = exchange_rate.loc['GBP','Rates']

exchange

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [6]:
transformdata = newdataframe
def transform(transformdata):
    transformdata['Market Cap (US$ Billion)'] = transformdata['Market Cap (US$ Billion)'] * 0.732398
    transformdata['Market Cap (US$ Billion)'] = round(transformdata['Market Cap (US$ Billion)'],3)
    transformdata = transformdata.rename(columns={'Market Cap (US$ Billion)': 'Market Cap (GBP$ Billion)'})
    return transformdata
                                                            
                                                        
transform(transformdata)

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519
5                        HSBC Holdings PLC                    160.593
6               Agricultural Bank of China                    148.855
7                           Citigroup Inc.                    148.798
8                            Bank of China                    132.908
9                     China Merchants Bank                     89.804

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [11]:
targetfile = "bank_market_cap_gbp.csv"
data_to_load = transform(transformdata)

def load(targetfile, data_to_load):
    data_to_load.to_csv(targetfile, index= "false")
    print("loaded")


load(targetfile,data_to_load)

loaded

## Logging Function

Write the logging function <code>log</code> to log your data:

In [7]:
def log(message):
    timestamp_format = '%H:%M:%S-%h-%d-%Y' #Hour-Minute-Second-MonthName-Day-Year
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("dealership_logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [13]:
# Log that you have started the ETL process

log("ETL Job Started")

log("Extract phase Started")

loaded

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [16]:
extract(filetoread).head(5)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as <code>"Extract phase Ended"</code>

In [ ]:
log("Extract phase Ended")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [ ]:
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [17]:
transform(transformdata).head(5)

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                     44.191
1  Industrial and Commercial Bank of China                     39.022
2                          Bank of America                     36.775
3                              Wells Fargo                     34.817
4                  China Construction Bank                     29.096

Log your data <code>"Transform phase Ended"</code>

In [ ]:
log("Transform phase Ended")

### Load

Log the following `"Load phase Started"`.

In [ ]:
log("Load phase Started")

Call the load function

In [18]:
load(targetfile,data_to_load)

loaded

Log the following `"Load phase Ended"`.

In [ ]:
log("Load phase Ended")

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).